
#logBox {
    height: 300px;
    width: 500px;
    display: flex;
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    background-color: #6d6761;
    border-radius: 7px;
}

#logWindow {
    overflow: hidden;
    justify-content: center;
    height: 200px;
    width: 500px;
}

#logboxHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

#logRow {
    height: 30px;
    width: 470px;
    display: flex;
    border: 2px solid #F4972F;
    border-radius: 7px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin: 5px auto;
    background-color: #B2AFA4;
    font-family: 'Martian Mono', monospace;
    font-weight: 100;
}

#saveButton {
    justify-content: center;
    text-align: center;
    margin-right: 5px;
    height: 20px;
    width: 50px;
}

p {
    margin-left: 5px;
}

#screw5 {
    position: relative;
    top: -247px;
    left: 475px
}
#screwSlot5 {
    transform: rotate(127deg);
}

#screw6 {
    position: relative;
    top: -267px;
    right: -5px
}
#screwSlot6{
    transform: rotate(249deg)
}

#screw7 {
    position: relative;
    bottom: 13px;
    right: -5px;
}
#screwSlot7 {
    transform: rotate(23deg);
}

#screw8 {
    position: relative;
    bottom: 33px;
    left: 475px;
}
#screwSlot8 {
    transform: rotate(301deg);
}