
#logBox {
    height: 300px;
    width: 500px;
    display: flex;
    display: inline-block;
    justify-content: center;
    overflow: scroll;
}

h2 {
    margin: 5px auto 5px auto;
}

#logRow {
    height: 30px;
    width: 470px;
    display: flex;
    border: 1px solid black;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin: 5px auto;
}

#saveButton {
    margin-right: 5px;
}
