
.card {
    border: 1px solid black;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 400px;
    width: 300px;
}

select {
    margin-top: 50px;
    height: 20px;
    width: 200px;
    text-align: center;
}

#valueInput {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    text-align: center;
}

#convert {
    padding: 10px;
    margin: 0px 5px 0px 5px
}

#answerBox {
    height: 75px;
    width: 200px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
