
#savedBox {
    height: 300px;
    width: 500px;
    display: flex;
    display: inline-block;
    justify-content: center;
    overflow: hidden;
    background-color: #6d6761;
    border-radius: 7px;
}

#logoutButton{
    display: flex;
    justify-content: center;
    height: 20px;
    margin-right: 5px;
}

h2 {
    display: inline-block;
    margin: 5px auto 5px auto;
}

#savedHeader {
    display: flex;
    align-items: center;
    justify-content: center;
}

#savedRow {
    height: 30px;
    width: 470px;
    display: flex;
    border: 2px solid #F4972F;
    border-radius: 7px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin: 5px auto;
    background-color: #B2AFA4;
    font-family: 'Martian Mono', monospace;
    font-weight: 100;
}

#deleteButton {
    margin-right: 5px;
}

p {
    margin-left: 5px;
}