div {
    border: 1px solid black;
}

header {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cardTable {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
}

#logBoxes {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#loginEnv {
    height: 300px;
    width: 300px;
    display: flex;
}


