div {
    border: 1px solid black;
}

header {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cardTable {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

#saveButton {
    height: 50px;
    width: 50px;
}

input {
    height: 50px;
    width: 150px;
    margin: 20px auto;
}

#logBoxes {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#logBox {
    height: 300px;
    width: 400px;
}

#loginEnv {
    height: 300px;
    width: 300px;
    display: flex;
}

